.maquina {
    width: 30%;

}

.cabeçalho {
    width: auto;
    height: 2cm;
    background-color: #FF9800;
    border-radius: 2cm;
    font-size: medium;

img {
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    margin: 20px;
}

.texto {
    display: grid;
    text-aling: justify;
    with: 40%;
    margin-left: 90px;
    margin-top: 30px;
    width: 50%;
    background-color: #FF9800;
    border-radius: 20px;
}

.linha-tempo {
    margin-top: 80px;
    margin-left: 30px;
}

.introdução {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
ul {
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   align-items: center;
   padding: 16px;
}
