.maquina{
width: 30%;

}
.cabeçalho {
    width: auto;
    height: 30%;

}
img { 
margin-left: 30px;
margin: 20px;
}

.texto{
    display: grid;
    text-aling: justify;
    with: 40%;
    margin-right: 10px;
    margin-top: 30px;
    position-relative: ;
}

.linha-tempo{
    margin-top: 80px;
    margin-left: 30px;
}

.introdução {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 100px;
}