.maquina {
    width: 30%;

}

.cabeçalho {
    width: auto;
    height: 65px;
    background-color: #fec100;
    border-radius: 10px;
    font-size: medium;
   
img {
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    margin: 20px;
}

.texto {
    display: grid;
    text-aling: justify;
    with: 40%;
    margin-left: 90px;
    margin-top: 30px;
    width: 50%;
    background-color: #FF9800;
    border-radius: 20px;
}

.linha-tempo {
    margin-top: 80px;
    margin-left: 30px;
}

.introdução {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;


